# WordPress con Sage - Ikintsugi
# --------------------------------------

# Dependencias
/node_modules
/vendor
composer.lock
yarn.lock
package-lock.json

# Archivos compilados
/public/*
!/public/.gitkeep
/dist
/build

# Datos locales y entorno
.env
.env.*
!.env.example
*.log
npm-debug.log
yarn-error.log

# Sistema y respaldos
.DS_Store
Thumbs.db
*.bak
*.sql
*.gz

# Archivos de IDEs y editores
.idea/
.vscode/
*.sublime-project
*.sublime-workspace
*.code-workspace

# Cache & Temporales
.cache
.tmp
.phpunit.result.cache
/storage/*.key

# Archivos específicos de Sage y WordPress
*.pot
*.po
*.mo
style.css
/resources/assets/config-local.json

# Archivos específicos de Laragon
/.docker
/laragon 

.cursorrules
.cursor
/.cursor
